body {
  margin: 0;
  font-family: 'Work Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px !important;
  --tw-shadow: 0px 4px 4px rgba(0,0,0,.25);
  --tw-border: 2px solid black;
  --tw-ring-shadow: 0 0 #0000;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body,
#root {
  height: 100%;
  width: 100%
}

a:link {
  color: #221654
}
